body {
    background: #110909;
    margin: 0;
    height: 200vh;
    /* Para o scroll funcionar igual seu código original */
    overflow-x: hidden;
}

@font-face {
    font-family: 'MyFont';
    src: url(vipnagorgialla/Vipnagorgialla\ Rg.otf) format('opentype');
}

@font-face {
    font-family: 'MyFontBold';
    src: url(vipnagorgialla/Vipnagorgialla\ Bd.otf) format('opentype');
}

.tittle {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: clamp(3rem, 10vw, 10rem);
    font-family: 'MyFontBold';
    background: linear-gradient(90deg, #710B18, #c00b23);
    background-size: 200% 100%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
    animation: HomeText 6s infinite linear;
    filter: drop-shadow(0 2px 6px #c00b2380);
}

.subtitle {
    position: absolute;
    bottom: 20%;
    left: 10%;
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: 'MyFont';
    background: linear-gradient(90deg, #710B18, #c00b23);
    background-size: 200% 100%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
    animation: HomeText 6s infinite linear;
    filter: drop-shadow(0 2px 6px #c00b2380);
}

@keyframes HomeText {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#page-home {
  display: flex;
  align-items: center;
  /* Alinha verticalmente */
  justify-content: flex-start;
  /* Alinha à esquerda */
  height: 100vh;
  /* Para ocupar a altura total da tela */
  padding-left: 5vw;
  /* Ajuste de margem esquerda opcional */
  padding-right: 5vw;
  /* Opcional, para evitar encostar muito */
  box-sizing: border-box;
  /* Para o padding não somar no tamanho */
  position: relative;
  /* Necessário para o ::before funcionar corretamente */
  isolation: isolate;
  /* Garante que o z-index e o backdrop-filter não vaze para fora */
}

#page-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background:
    radial-gradient(ellipse 30% 35% at 50% 0%, rgba(113, 11, 24, 1) 30%, transparent 100%);
  pointer-events: none;
  z-index: -2;
  filter: blur(30px);
  opacity: 0.7;
}
section {
    height: 100vh;
}

.logo-link{
    position: absolute;
    top: 5%;
    left: 5%;
}
.logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
    display: block;
}
.nav-links{
    position: fixed;
    list-style: none;
    top: 8%;
    right: 5%;
    display: flex;
    gap: 30px;
}
.nav-link{
    text-decoration: none;
    color: #c00b23;
    font-family: 'MyFont';
    font-size: 1rem;
    animation: HomeText 6s infinite linear;
    filter: drop-shadow(0 2px 6px #c00b2380);
}

.nav-link:hover{
    color: white;
    transition: 0.3s;
}

.svg-contato-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
    top: 0;
    left: 0;
  padding: 0;
  z-index: -999;

  /* Aplica a máscara SVG */
  mask: url('linhas.svg');
  -webkit-mask: url('linhas.svg');
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  overflow: hidden;
  /* esconde luz fora da área */
}

.svg-contato {
  width: 100%;
  height: 100%;
  display: block;
}

.svg-contato-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  /* largura do feixe */
  height: 100%;
  z-index: 20;
  background: linear-gradient(to left, transparent 45%, #c00b23 50%, transparent 55%);
  animation: LUZFECHANDO 7s linear infinite;
}

@keyframes LUZFECHANDO {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    transform: translateX(-10%);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}

.skeleton{
    position: relative;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    image-rendering: pixelated;
}